.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  mat-card
  {
    max-width: 510px;
    padding: 25px;
    margin-top: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-full-width {
    width: 100%;
  }

  div {
      color: red;
      padding-top: -4px;
  }