<mat-toolbar class="nav">
  <mat-toolbar-row>
    <h1 class="head-line">My App</h1>
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;"> 
      <button *ngIf = "!(authService.user | async)"
              mat-raised-button 
              class="nav-side" 
              (click)= "toLogin()">
        Login
    </button>
    <button *ngIf = "(authService.user | async)"
            mat-raised-button 
            class="nav-side" 
            (click)="toLogout()">
      Logout
   </button>     
    <button mat-raised-button class="nav-side" (click)="toSignUp()">
        Sign Up 
    </button>
    
  </div>
  </mat-toolbar-row>
</mat-toolbar>
