<div *ngIf = "!(authService.user | async)">
  <p>Page is Loading</p>
</div>

<div *ngIf = "(authService.user | async)">
  <mat-card class="example-card">
    <mat-card-content>
      
      <div *ngIf = "(authService.user | async)">
          <h1>Welcome {{ (authService.user | async)?.displayName }}!</h1>
      </div>

      <p>This is the welcome page :)</p>

      <div>
          <ul>
            <mat-checkbox *ngFor = "let todo of todos">
                          {{ todo.text }}
            </mat-checkbox>
          </ul>
      </div>
      <mat-card-actions>
          <form class="example-form" (ngSubmit) = "addTodo()">
            <mat-form-field class="example-full-width">
              <input [(ngModel)] = "todo" name = "todo" matInput placeholder="Add todo item" value="" >
            </mat-form-field>
            <div>
                <input type = "Submit" value = "Add todo">
            </div>      
          </form>  
        </mat-card-actions>
    
    </mat-card-content>
  </mat-card>
</div>